<html>
<head>
    <link rel="stylesheet" href="contact.page.css">
    <title>contact page</title>
</head>
<body>
 <div Class="contact-box">
     <form>
         <input type="text" class="input-field" placeholder="Your-Name"> <br>
         <input type="email" class="input-field" placeholder="your-Email"><br>
         <input type="text" class="input-field" placeholder="Subject"><br>
         <textarea type="text" class="input-field textarea-field" placeholder="Your-message">
        </textarea>
        <button type="submit" class="btn">Send Message</button>
     </form>
 </div>
</body>
</html>