
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #efefef;
    font-family: sans-serif;
}
.contact-box
{
    width: 500px;
    background-color: rgb(247, 147, 147);
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form
{
margin: 35px;
}
input-field
{
    width: 450px;
    height: 500px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
textarea-field
{
    height: 132px;
    padding-left: 20px;
}
.btn 
{
    border-radius: 20px;
    colour: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #f31717;
    font-size: 12px;
    border: none;
    cursor: pointer;
}